body {
  background-image: url("yash.jpg"), url("yash2.jpg"), url("yash3.jpg");
  background-size: 100%, 100%, 100%;
  background-repeat: repeat-x, repeat-x, repeat-x;
  background-position: top center, center, bottom;
  animation: scroll 60s horizontal infinite;
}

@keyframes scroll {
  from {
      background-position: 0 0, 200px 0, 400px 0;
  }
  to {
      background-position: 100% 0;
  }
}
